

// PIPELINE KNOBS
params{


    // ##### Sample Table #####
    sample_table = 'example-data/sample_table_patch.csv'

    // ##### Peptide Table #####
    peptide_table = 'example-data/peptide_table.csv'

    // ##### Output #####
    phip_data_dir = './example-output'

    // ##### Dataset Name Prefix #####
    dataset_prefix = 'Pan-CoV-example'

    // ##### Stream Function #####
    fastq_stream_func = 'zcat'

    // ##### Enrichment Workflow #####
    compute_enrichment = true

    // ##### Output tall format ds #####
    output_tall = true

    // ##### Output wide format ds #####
    output_wide = false

    // ##### read length for align #####
    read_length = 125

    // ##### peptide length for align #####
    peptide_tile_length = 117 

    // ##### mismatches allowed (end-to-end) #####
    n_mismatches = 2

}

// TODO: can we split these things up? like a config for infrastructure?
// CONTAINER PLATFORM SETUP
// https://www.nextflow.io/docs/latest/config.html#scope-docker
docker {
    enabled = true
}

// COMPUTATIONAL PLATFORM SETUP
process {

    withLabel: phippery {
        container = 'quay.io/matsengrp/phippery:135_config_file'
    }

    withLabel: alignment_tool {
        container = 'quay.io/jgallowa/bowtie1.3:latest' 
    }

    withLabel: samtools {
        container = 'quay.io/biocontainers/samtools:1.3--h0592bc0_3'
    }
}

