manifest {
    description = 'PhIP-Seq common analysis workflows'
    nextflowVersion = '>= 20.07.0'
}

// PIPELINE KNOBS
params{


    /*
    sample reads options
    */

    //  Stream Function 
    //  Set this as 'cat' if fastq files not g'zipped
    fastq_stream_func = 'zcat'


    /*
    output options
    */

    //  Dataset Name Prefix 
    dataset_prefix = 'data'

    // Output Xarray pickle
    output_pickle_xarray = true

    //  Output tall format ds 
    output_tall_csv = false

    //  Output wide format ds 
    output_wide_csv = false


    /*
    alignment options
    */

    //  read length for align 
    read_length = 125

    //  peptide oligo encoding length for alignment
    oligo_tile_length = 117 

    // mismatches allowed (end-to-end) 
    n_mismatches = 2

    // other bowtie options
    bowtie_optional_args = '--tryhard --nomaqround --norc --best --sam --quiet'

    // Flag for replicating counts for replicate sequences
    replicate_sequence_counts = true



    /*
    Optional workflows
    */

    run_cpm_enr_workflow = false
    run_zscore_fit_predict = false

    /*
    Options for grouping results by organism (e.g. VirScan)
    */

    // Flag used to control the summary of results by organism
    summarize_by_organism = false

    // Column in the peptide table indicating the organism for each peptide
    peptide_org_col = "organism"

    // Column in the peptide table containing the peptide sequence
    // (used to match against public epitopes, and to filter overlapping peptides)
    peptide_seq_col = "seq"

    // Maximum allowed overlap between detected peptides
    max_overlap = 7

    // Minimum z-score threshold
    zscore_threshold = 2.5

    // Column in the sample table used for mapping replicates to samples
    sample_grouping_col = ""

    // Optional, a CSV containing public epitopes
    public_epitopes_csv = "$projectDir/templates/public_epitope_template.csv"

    // In the public epitopes CSV, the column containing the translated amino acid sequence
    public_epitopes_col = "peptide_translate"

}

// Set the container which can be used for all processes
process {

    // Default for any processes which do not match the selectors below
    container = 'quay.io/hdc-workflows/phippery:1.1.4'

    withName: run_beer {
        container = 'quay.io/biocontainers/bioconductor-beer:1.2.0--r42hdfd78af_0'
    }

}

profiles {

    // Run locally assuming all deps available in current environment
    standard {
    }
   
    // Run locally assuming docker is installed with the latest image
    docker {
        docker.enabled = true
    }

    // Run batch submission assuming docker is installed with the latest image
    cluster {

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity_cache' 
            runOptions = '--contain -W /tmp/'
        }

        process {
            executor = 'slurm'
            queue = 'campus-new'
            cpus = 1
            memory = 16.GB
            time = '1h'
            clusterOptions = '-A overbaugh_j'
            withLabel: mem_large { memory = 48.GB }
            withLabel: mem_xlarge { memory = 64.GB }
        }
    }
}
